<h3>Registration</h3>
<hr>
<section>
    <form [formGroup]="registrationForm" (ngSubmit)="onBtnRegisterClick()">
        <div class="field">
            <label for="emailId">Email Id :</label>
            <input type="text" id="emailId" formControlName="emailId">
            <div *ngIf="emailId?.invalid && (emailId?.dirty || emailId?.touched)">
                <span style="color : red" *ngIf="emailId?.errors?.['required'].required">* Email Id is required</span>
                <span style="color : red" *ngIf="emailId?.errors?.['pattern'].pattern">* Invalid email format</span>
            </div>
        </div>

        <div class="field">
            <label for="firstName">First Name :</label>
            <input type="firstName" id="firstName" formControlName="firstName">
            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                <span style="color : red" *ngIf="firstName?.errors?.['required'].required">* First Name is required</span>
            </div>
        </div>

        <div class="field">
            <label for="lastName">Last Name :</label>
            <input type="lastName" id="lastName" formControlName="lastName">
            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
                <span style="color : red" *ngIf="lastName?.errors?.['required'].required">* Last Name is required</span>
            </div>
        </div>

        <div class="field">
            <label for="phone">Phone :</label>
            <input type="phone" id="phone" formControlName="phone">
            <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
                <span style="color : red" *ngIf="phone?.errors?.['required'].required">* Phone Number is required</span>
            </div>
        </div>

        <div class="field">
            <label for="password">Password :</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <span style="color : red" *ngIf="password?.errors?.['required'].required">* Password is required</span>
            </div>
        </div>
        
        <div class="field">
            <label for="confirmPassword">Confirm Password :</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                <span style="color : red" *ngIf="confirmPassword?.errors?.['required'].required">* Confirm Password is required</span>
                <span style="color : red" *ngIf="registrationForm.errors?.['passwordMismatch'].passwordMismatch">* Passwords do not match</span>
            </div>
        </div>
        <div class="field">
            <button type="register" [disabled]="registrationForm.invalid">Register</button>
        </div>
    </form>

</section>
